127.0.0.1       localhost
::1             localhost ip6-localhost ip6-loopback

# beamline VM fleet
10.10.10.11     admin.beamline
10.10.10.12     gitlab.beamline
10.10.10.13     pkg.beamline
10.10.10.14     puppet.beamline
10.10.10.21     k8cp.beamline
10.10.10.22     k8w1.beamline
10.10.10.23     k8w2.beamline
10.10.10.31     tango-db.beamline
10.10.10.32     tango-ds.beamline
10.10.10.41     obs.beamline
10.10.10.51     hpc-ctl.beamline
10.10.10.52     hpc-c1.beamline
10.10.10.53     hpc-gpu.beamline
